name: Android CI

on:
  push:
    branches: [ main ]
    paths:
      - 'android/**'
      - 'rust/**'
      - '.github/workflows/android.yml'
  pull_request:
    branches: [ main ]
    paths:
      - 'android/**'
      - 'rust/**'
      - '.github/workflows/android.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-android-build
      cancel-in-progress: true

    steps:
    - name: Free disk space
      run: |
        sudo rm -rf /usr/share/dotnet
        sudo rm -rf /opt/ghc
        sudo rm -rf /opt/hostedtoolcache/CodeQL
        sudo docker image prune --all --force
        df -h

    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Setup Rust cache
      uses: Swatinem/rust-cache@v2
      with:
        workspaces: rust

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      working-directory: android

    - name: Install cargo-ndk
      run: cargo install cargo-ndk

    - name: Touch local.properties (required for build)
      run: echo 'stadiaApiKey=' > local.properties
      working-directory: android

    - name: Run ktfmtCheck
      run: ./gradlew ktfmtCheck
      working-directory: android

    - name: Build with Gradle
      run: ./gradlew build
      working-directory: android
      env:
        CARGO_NDK_TARGET_ARCH: arm64

  test:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-android-test
      cancel-in-progress: true
    permissions:
      contents: read
      packages: read

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Setup Rust cache
      uses: Swatinem/rust-cache@v2
      with:
        workspaces: rust

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      working-directory: android

    - name: Install cargo-ndk
      run: cargo install cargo-ndk

    - name: Touch local.properties (required for cargo-ndk)
      run: echo 'stadiaApiKey=' > local.properties
      working-directory: android

    - name: Unit test
      run: ./gradlew :core:testDebugUnitTest
      working-directory: android
      env:
        CARGO_NDK_TARGET_ARCH: arm64

    - name: 'Upload Artifact'
      uses: actions/upload-artifact@v4
      if: success() || failure()
      with:
        name: test-reports
        path: |
          android/**/build/reports
        retention-days: 5
